@model List<Product>

<h1>Products List</h1>
<p>You can manage all the available products in the market.</p>

<table class="table table-striped products-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Discount</th>
            <th scope="col">Quantity</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr class="align-middle">
                <th scope="row">@i.Id</th>
                <td class="image-cell">
                    <img class="rounded-1" src="@(i.ImageUrl ?? "./images/no_image.png")" />
                </td>
                <td>
                    <span>@i.Name</span>
                    @if(i.Discount > 0)
                    {
                        <span class="badge bg-primary">SALE</span>
                    }
                </td>
                <td>
                    @if (i.Discount > 0)
                    {
                        <span>@(i.Price - i.Price / 100 * i.Discount)</span>
                        <del>@i.Price</del>
                        <span>$</span>
                    }
                    else
                    {
                        <span>@i.Price$</span>
                    }
                </td>
                <td>@i.Category?.Name</td>
                <td>@i.Discount%</td>
                <td>
                    @if(i.Quantity > 0)
                    {
                        <span class="badge bg-success">In Stock: @i.Quantity</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Out of Stock</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@i.Id" type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-info-square-fill"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@i.Id" type="button" class="btn btn-outline-danger">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>