@model IEnumerable<ProductModel>;

@* Model - object transfered from controller *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Current second is
        @if(DateTime.Now.Second % 2 == 0)
        {
            <span class="badge bg-primary">even</span>
        }
        else
        {
            <span class="badge bg-secondary">odd</span>
        }
    </p>
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 product-list">
    @foreach (var i in Model)
    {
        <div class="col">
            <div class="card h-100 text-center">
                <img src="@i.ImageUrl" class="card-img-top" alt="@i.Name">
                <div class="card-body">
                    <h5 class="card-title">@i.Name</h5>
                    <p class="card-text">@i.Price$ @i.CategoryName</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@i.Id" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    }
</div>
